@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.frame11 {
    background-color: #003f62;
    border: 0px;
    border-radius: 0;
    height: 100px;
}

.frame11Card {
    display: flex;
    justify-content: center;
    gap: 316px;
    /* align-items: center; */
}

.left {
    display: flex;
    gap: 85px;
    align-items: center;
}

.left img {
    width: 140px;
    height: 39px;
}

.left .input-group {
    width: 438px;
    height: 56px;
}

.left .form-control {
    border: 0;
    border-radius: 20px;
    padding-left: 25px;
    padding-top: 17.15px;
    padding-bottom: 17.15px;
}
.left button {
    border: 0;
    color: white;
    background-color: #eda415;
    border-radius: 20px;
    padding: 17.5px 41px;
}

.right {
    color: white;
    display: flex;
    gap: 29px;
    align-items: center;
}

.right .circle0 {
    text-align: center;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 9.47368px;
    line-height: 14px;

    color: #ffffff;
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #eda415;
    border-radius: 50%;
}
